.bouquet-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
    min-height: 520px;
}

.bouquet-item-image{
    width: 100%;
    border-radius: 15px 15px 0px 0px;

}

.bouquet-item-info{
    padding: 20px;
}

.bouquet-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.bouquet-item-name-rating p{
    font-size: 20px;
    font-weight: 500;
}

.bouquet-item-name-rating img{
width: 70px;
}

.bouquet-item-desc{
    font-size: 12px;
}

.bouquet-item-price{
    color: var(--brown);
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}

.bouquet-item-img-container{
    position: relative;
}

.bouquet-item-img-container .add-to-cart{
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
    padding: 8px 8px;
    background-color: var(--brown);
    color: white;
}

.bouquet-item-img-container .add-to-cart:hover{
    background: var(--pink);
    color: var(--brown);
}

.bouquet-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}

.bouquet-item-counter .button-minus,.bouquet-item-counter .button-plus{
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    padding: 5px 5px;
}

.bouquet-item-counter .button-minus{
    color: red;
}

.bouquet-item-counter .button-plus{
    color: green;
}